.top_bar {
    width: 100%;
    height: 48px;
    display: flex;
    margin: auto;
}
.google_info{
    font-size: 14px;
    font-family: "Apple SD Gothic Neo", arial, sans-serif;
    padding: 5px;
    padding-top: 15px;
    margin-left: 15px;
    color: #1f1f1f;
    text-decoration-line: none;
    white-space: nowrap;
}
.google_info:hover{
    text-decoration: underline;
}
.store{
    font-size: 14px;
    font-family: "Apple SD Gothic Neo", arial, sans-serif;
    padding: 5px;
    padding-top: 15px;
    margin-left: 10px; 
    color: #1f1f1f;
    text-decoration-line: none;
    white-space: nowrap;
}
.store:hover{
    text-decoration: underline;
}
.top_box{
    width: 100%;
    height: 48px;
    margin-left: auto;
    display: flex;
    margin: auto;
    display: inline-block;
}
.mail{
    font-size: 14px;
    font-family: "Apple SD Gothic Neo", arial, sans-serif;
    padding-top: 15px;
    color: #1f1f1f;
    text-decoration-line: none;
    float: right;
}
.mail:hover{
    text-decoration: underline;
}
.searchimg{
    font-size: 14px;
    font-family: "Apple SD Gothic Neo", arial, sans-serif;
    padding-top: 15px;
    margin-left: 15px; 
    color: #1f1f1f;
    float: right;
    text-decoration-line: none;
}
.searchimg:hover{
    text-decoration: underline;
}
.button_box{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}
.login{
    background: #1a73e8;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
    letter-spacing: .25px;
    line-height: 16px;
    margin-top: 5px;
    margin-right: 15px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration-line: none;
    float: right;
}
.login:hover{
    background: #1b63c1;
    box-shadow: 0 1px 3px 1px rgba(66,64,67,.15),0 1px 2px 0 rgba(60,64,67,.3);
}
.logo{
    width: 100%;
    height: 18rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.logo_box {
    width: 272px;
    height: 92px;
    margin-top: 5px;
    position: absolute;
    margin: auto;
    display: flex;
    bottom: 0;
}
.google_img {
    width: 272px;
    height: 92px;
    position: relative;
    width: auto;
}

.search_bg{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_box{
    width: 100%;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    margin-top: 10px;
    width: 44%;
    min-width: 550px;
    height: 46px;
    display: flex;
    position: relative;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
.search:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
.search_btn{
    width: 20px;
    height: 27px;
    margin-left: 15px;
    margin-top: 7px;
    float: left;
    position: relative;
    color: rgb(154, 160, 166);
    fill: rgb(154, 160, 166);
}
#search_txt{
    width: 79%;
    justify-content: left;
    align-items: center;
    float: left;
    resize: none;
    background-color: transparent;
    margin-top: 9px;
    margin-left: 5px;
    padding: 0;
    color: rgba(0,0,0,.87);
    display: flex;
    font-family: Apple SD Gothic Neo,arial,sans-serif;
    line-height: 25px;
    margin-bottom: 8px;
    font-size: 16px;
    overflow-x: hidden;
    border: none;
    outline: none;
}
.keyboard{
    width: 35px;
    height: 44px;
    padding-top: 25px;
    position: relative;
    justify-content: right;
}
.lens{
    float: right;
    justify-content: right;
}
.lens_logo{
    padding-top: 4px;
    width: 32px;
    height: 32px;
}

.center{
    padding-top: 20px;
    width: 40%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google_search{
    background-color: #f8f9fa;
    color: #202124;
    font-size: 14px;
    font-family: "Apple SD Gothic Neo", arial, sans-serif;
    line-height: 38px;
    height: 36px;
    width: 103px;
    min-width: 54px;
    text-align: center;
    cursor: pointer; 
    border-radius: 4px;
    align-items: center;
    margin-right: 2%;
    white-space: nowrap;
}
.google_search:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}
.feel_luck{
    background-color: #f8f9fa;
    color: #202124;
    font-size: 14px;
    font-family: "Apple SD Gothic Neo", arial, sans-serif;
    line-height: 38px;
    height: 36px;
    width: 135px;
    min-width: 54px;
    text-align: center;
    cursor: pointer; 
    border-radius: 4px;
    align-items: center;
    text-decoration-line: none;
    white-space: nowrap;
}
.feel_luck:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}